.obsidian/workspace
.obsidian/workspace-mobile
.DS_Store
*.rar
*.zip
scratch/
**/*Referências (Originais)*/
**/*Referências (RAG)*/
Z - Fontes Originais (Raw)/
**/*.pdf
**/*.ppt
**/*.pptx
**/*.docx
**/*.jpg
**/*.jpeg
**/*.png
